body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://i.pinimg.com/736x/ac/e5/78/ace578f056318250989f33cd0cdf64a0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  input[type="text"] {
    width: 92.6%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #218838;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  li.completed {
    text-decoration: line-through;
    color: #999;
  }

  .remover-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  .remover-btn:hover {
    background-color: #c82333;
  }
 .tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.checkbox {
    cursor: pointer;
}
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f9fa;
  color: #495057;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  appearance: none; 
  background-image: url('https://cdn-icons-png.flaticon.com/512/60/60995.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

select:hover {
  border-color: #28a745;
  background-color: #e9f7ef;
}

select:focus {
  outline: none;
  border-color: #28a745;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}